<div class="container">
  <div class="row">

    <div id="profile-panel" class="col s3 grey lighten-3">
      <div class="row s12 center">
        <h5>Profile</h5>
        <p class="col s12">
          Username:
          <input id="username-input" ng-show="userNameStatus" ng-model="currentUser.userName" type="text" class="validate" placeholder="Add username to your profile">
          <a ng-hide="userNameStatus">{{currentUser.userName}}</a>
        </p>
        <p class="col s12">
          Email: <a>{{currentUser.profileEmail}}</a>
        </p>
      </div>

      <hr>

      <div class="row s12 center">
        <h5>Friends</h5>
        <p ng-show="friendsStatus">{{profileFriends}}</p>
        <p ng-show="friendsStatus">
          <a>No friends currently</a>
        </p>
      </div>
    </div>

    <div class="col s9">
      <div id="profile-console" class="">
        <div class="row">
          <a ng-click="" class="waves-effect btn col s8 indigo offset-s2">
          New Picture</a>
        </div>
        <div class="row">
          <a ng-click="" class="waves-effect btn col s8 indigo offset-s2">New Video</a>
        </div>
        <div class="row">
          <a ng-click="" class="waves-effect btn col s8 indigo offset-s2">New Post</a>
        </div>
      </div>

      <div id="profile-display-container" class="">
        <div class="icon-container col">
          <i id="left-arrow" class="medium material-icons">keyboard_arrow_left</i>
        </div>
        <div id="profile-image-display" class="">
          <div class="col">
            <img class="profile-display-image" src="http://tctechcrunch2011.files.wordpress.com/2008/04/linux-penguin-small.png" alt="" />
          </div>
          <div class="col">
            <img class="profile-display-image" src="http://tctechcrunch2011.files.wordpress.com/2008/04/linux-penguin-small.png" alt="" />
          </div>
          <div class="col">
            <img class="profile-display-image" src="http://tctechcrunch2011.files.wordpress.com/2008/04/linux-penguin-small.png" alt="" />
          </div>
          <div class="col">
            <img class="profile-display-image" src="http://tctechcrunch2011.files.wordpress.com/2008/04/linux-penguin-small.png" alt="" />
          </div>
          <div class="col">
            <img class="profile-display-image" src="http://tctechcrunch2011.files.wordpress.com/2008/04/linux-penguin-small.png" alt="" />
          </div>
        </div>
        <div class="icon-container col">
          <i id="right-arrow" class="medium material-icons">keyboard_arrow_right</i>
        </div>
      </div>

    </div>



  </div>
</div>
