<div class="profile-container container">
  <div class="row">

    <div id="profile-panel" class="col s3 grey lighten-3">
      <div class="row s12 center">
        <h5>Profile</h5>
        <p class="col s12">
          Username:
          <input id="username-input" ng-show="userNameStatus" ng-model="currentUser.userName" type="text" class="validate" placeholder="Add username to your profile">
          <a ng-hide="userNameStatus">{{currentUser.userName}}</a>
        </p>
        <p class="col s12">
          Email: <a>{{currentUser.profileEmail}}</a>
        </p>
      </div>

      <hr>

      <div class="row s12 center">
        <h5>Friends</h5>
        <p ng-show="friendsStatus">{{profileFriends}}</p>
        <p ng-show="friendsStatus">
          <a>No friends currently</a>
        </p>
      </div>
    </div>

    <div class="col s9">
      <div id="profile-console" class="">
        <div class="button-console">
          <div class="">
            <a ng-click="takeSinglePicture()" class="waves-effect btn indigo row s12">
            New Picture</a>
          </div>
          <div class="">
            <a ng-click="takeStaticVideo()" class="waves-effect btn indigo row s12">New Video</a>
          </div>
        </div>

        <div ng-show="viewImagesInDisplayStatus">
          <img ng-show="imageDisplayStatus" class="main-display-image" ng-src="{{mainDisplayImage}}"/>
        </div>

        <div ng-show="viewVideosInDisplayStatus">
          <video class="main-display-video" ng-src="{{mainDisplayVideo}}" width="600" height="340" ng-show="videoDisplayStatus" controls>
        </div>

      </div>

      <div class="toggle-media-view row s9">
        <p class="col">
          <a ng-click="showImagesInDisplay()" class="waves-effect btn indigo">View Images</a>
        </p>
        <p class="col">
          <a ng-click="showVideosInDisplay()" class="waves-effect btn indigo">View Videos</a>
        </p>
      </div>

      <div id="profile-display-container" class="">
        <div class="icon-container col">
          <i id="left-arrow" class="medium material-icons">keyboard_arrow_left</i>
        </div>

        <div ng-show="viewImagesInDisplayStatus" class="profile-image-display">
          <h5 ng-hide="imageDisplayStatus" class="row col s12 center">
            You currently have no images
          </h5>
          <div ng-show="imageDisplayStatus" class="col" ng-repeat="each in currentUser.imageCollection">
            <img
            ng-mouseover="mediaHover($event)" ng-click="setToMainMedia(each)"  class="profile-display-image" ng-src="{{each.imgUrl}}" alt="" />
          </div>
        </div>

        <div ng-show="viewVideosInDisplayStatus" class="profile-image-display">
          <h5 ng-hide="videoDisplayStatus" class="row col s12 center">
            You currently have no videos
          </h5>
          <div ng-show="videoDisplayStatus" class="col" ng-repeat="each in currentUser.videoCollection">
            <video ng-mouseover="mediaHover($event)" ng-click="setToMainMedia(each)" class="profile-display-video" controls>
              <source ng-src="{{each.videoUrl}}" />
            </video>
          </div>

        </div>
        <div class="icon-container col">
          <i id="right-arrow" class="medium material-icons">keyboard_arrow_right</i>
        </div>
      </div>

    </div>



  </div>
</div>
