div {
  padding: 0;
}

.profile-container {
  width: 90vw;
}

#profile-console {
  height: 50vh;
  border: .5rem solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-panel {
  height: 85vh;
}

#profile-display-container {
  height: 26vh;
  display: flex;
  margin: 1rem auto;
}

.profile-image-display {
  border: .25rem solid grey;
  display: flex;
  width: 100vh;
  align-items: center;
  overflow-x: scroll;
}

.profile-display-image {
  width: 200px;
  height: 150px;
  margin: .5rem;
  border-radius: 10%;
}

.profile-display-video {
  width: 200px;
  height: 200px;
  margin: .5rem;
  border-radius: 15%;
}

.toggle-media-view {
  display: flex;
  justify-content: center;
  margin: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
