div {
  padding: 0;
}

.profile-container {
  width: 90vw;
}

#profile-console {
  height: 50vh;
  border: .5rem solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-panel {
  height: 85vh;
}

#profile-display-container {
  height: 28vh;
  display: flex;
  margin: 1rem auto;
}

.main-display-image {
  width: 400px;
  height: 300px;
  margin: 1.5rem 3rem 1.5rem 0;
  border-radius: 10%;
}

.main-display-video {
  margin-right: 6.5rem;
}

.button-console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 2rem;
}

.profile-image-display {
  border: .25rem solid grey;
  display: flex;
  width: 100vh;
  align-items: center;
  overflow-x: scroll;
}

.profile-display-image {
  width: 200px;
  height: 150px;
  margin: .5rem;
  border-radius: 10%;
}

.profile-display-video {
  width: 200px;
  height: 200px;
  margin: .5rem;
  border-radius: 15%;
}

.hover-media {
  box-shadow: 2px 2px 2px 2px black;
}

.toggle-media-view {
  display: flex;
  justify-content: center;
  margin: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
